:root {
    --primary-dark: #260c1a;
    --secondary-dark: #432e36;
    --tertiary-dark: #5f4842;
    --primary-light: #af8d86;
    --secondary-light: #edbfc6;
}

/*HEADER AND NAV BAR STYLES START*/

header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 a {
    color: var(--secondary-light);
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;

 }

nav {
    color: var(--secondary-light);
    font-size: 25px;
    margin: 0;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    list-style-type: none;
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--primary-light)


}

header nav ul li a:hover {
      color: white;
}
    

    /*HEADER AND NAV STYLES END*/

    /*Hero/Jumbotron*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: 80%;
    padding-top: 200px;
    margin: 0;
    border: 1px solid white;
}

.hero h1 {
    color: var(--secondary-light);
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    text-shadow: 1px 1px black;
}

.hero h2 {
    color: var(--tertiary-dark);
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    display: flex;
}
/*Hero/Jumbotron styles end*/

/*Projects*/
.project-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: 
 }

.title {
    margin: 20px;
    color: var(--primary-light);
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--primary-light);
    color: var(--primary-light);
    margin: 50px 200px;
    padding: 20px;
}

.one {
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    margin: 60px 30px;
}

.one a {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-dark);
    text-decoration: none;
    font-size: 240px;
    justify-content: left;
}

.two {
    background-color: white;
    justify-content: right;
    font-size: 50px;
    Margin: 30px;
}

.three {
    background-color: white;
    justify-content: left;
    font-size: 30px;
    margin: 30px;
}

/*Projects End*/

/*About Me Styes*/
.info-display p {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: var(--primary-light);
    font-size: 20px;
    text-align: left;
    padding: 50px 50px 350px 50px;
    margin-bottom: 50px;
}

.info-display img {
    float: left;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}
/*About Me End Styles*/

/*Contact Info Styles*/
.contact-info {
    display: flex;
    justify-content: left;
    color: var(--primary-light);
    font-size: 20px;
    text-align: left;
    margin: 50px;
}

.contact-info a {
    color: var(--primary-light);
    text-decoration: none;
}
/*Contact Info End*/

/*Footer Styles*/
footer {
    background: var(--primary-light);
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h3 {
    color: var(--primary-dark);
    font-size: 20px;
    margin: 0;
}

/*End footer*/

/*utilities*/
a:hover {
    color: white;
}

body {
    background-color: var(--primary-dark);
    font-family: Arial, Helvetica, sans-serif;
}

/*Media Query for Smaller Desktop Screens and smaller*/
@media screen and (max-width: 980px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero {
        width: 100%;
    }

    .project-display a {
        flex: 0 100%;
        font-size: 110px;
        Margin: 100px 0;
    }

    .project-display h3 {
        flex: 0 100%;
    }

    .info-display p {
        margin: 10px 10px;
    }

    footer {
        text-align: center;
        width: 100%;
    }
}

 /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
    justify-content: center;
    position: relative;
    }
    
    header h1 {
        width: 100%;
        justify-content: center;
    }
    
    header nav ul {
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }   
    
    .hero {
        width: 100%;
    }
    
    .project-display a {
        flex: 0 100%;
        font-size: 110px;
        Margin: 100px 0;
    }   
    
    .project-display h3 {
        flex: 0 100%;
    }
    
    .info-display p {
        flex: 0 100%;
        margin: 10px 10px;
    }
    
    footer {
        text-align: center;
        width: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        flex: 0 100%;
        justify-content: center;
        position: relative;
     }
    
    header h1 {
        width: 100%;
        margin-left: 70px;
        justify-content: space-around;
    }
    
    header nav ul {
        width: 100%;
        justify-content: space-around;
    }
    
    header nav ul li a {
        font-size: 30px;
    }
    
    .hero {
        width: 100%;
        justify-content: space-around;
        margin: 0 50px;
    }

    .project-display a {
        flex: 0 100%;
        font-size: 50px;
        Margin: 100px 20px;
    }      
    
    .two {
        font-size: 40px;
    }

    .project-display h3 {
        flex: 0 100%;
    }
    
    .info-display img {
        flex: 0 100%;
        margin: 10px 0;
    }

    .info-display p {
        text-align: center;
        justify-content: space-around;
        margin: 50px;
    }

    footer {
        text-align: center;
        width: 100%;
    }
}