:root {
    --primary-dark: #260c1a;
    --secondary-dark: #432e36;
    --tertiary-dark: #5f4842;
    --primary-light: #af8d86;
    --secondary-light: #edbfc6;
}

/*HEADER AND NAV BAR STYLES START*/

header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 a {
    color: var(--secondary-light);
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;

 }

nav {
    color: var(--secondary-light);
    font-size: 25px;
    margin: 0;
    padding: 0 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    list-style-type: none;
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--primary-light)


}

header nav ul li a:hover {
      color: white;
}
    

    /*HEADER AND NAV STYLES END*/

    /*Hero/Jumbotron*/

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: 80%;
    padding-top: 200px;
    margin: 0;
    border: 1px solid white;
}

.hero h1 {
    color: var(--secondary-light);
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    text-shadow: 1px 1px black;
}

.hero h2 {
    color: var(--tertiary-dark);
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    display: flex;
}
/*Hero/Jumbotron styles end*/

/*Projects*/
.project-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: 
 }

.title {
    margin: 20px;
    color: var(--primary-light);
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--primary-light);
    color: var(--primary-light);
    margin: 50px 200px;
    padding: 20px;
}

.one {
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    margin: 50px 200px;
}

.one a {
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-dark);
    text-decoration: none;
    font-size: 240px;
    justify-content: left;
}

.two {
    background-color: white;
    justify-content: right;
    font-size: 50px;
}

.three {
    background-color: white;
    justify-content: left;
    font-size: 30px;
}

/*Projects End*/

/*About Me Styes*/
.info-display p {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: var(--primary-light);
    font-size: 20px;
    text-align: left;
    padding: 50px 50px 350px 50px;
    margin-bottom: 50px;
}

.info-display img {
    float: left;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}
/*About Me End Styles*/

/*Contact Info Styles*/
.contact-info {
    display: flex;
    justify-content: left;
    color: var(--primary-light);
    font-size: 20px;
    text-align: left;
    margin: 50px;
}

.contact-info a {
    color: var(--primary-light);
    text-decoration: none;
}
/*Contact Info End*/

/*utilities*/
a:hover {
    color: white;
}

body {
    background-color: var(--primary-dark);
    font-family: Arial, Helvetica, sans-serif;
}